main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

h2 {
    text-align: center;
    color: var(--primary);
}

p {
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

input {
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--light);
}

button {
    margin-top: 30px;
    background-color: var(--primary);
    color: var(--patern);
}