<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<div id="background"></div>
<div class="card" id="summary">
    <div class="card-body">
        <h5> <b> O que é isso? </b> </h5>
        <p> Uma demonstração do funcionamento do framework Socket.IO da Google. Feito em angular, com o propósito de exercitar meu domínio
            com a ferramenta. Com funcionalidades como: Reconhecimento de mensaguens própias ou de outros contatos, envio de notificações
            quando um usuário entrar, sair ou escrever na janela atual e um sistema de salas que ao serem acessadas são recuperadas as mensaguens anteriores.
        </p>
    </div>
</div>

<app-navegation id="navegation"></app-navegation>
<app-chat-window id="chatwin"></app-chat-window>


<script src="/js/shownhide-script.js"></script>
<script src="/js/socket-io/socket.js"></script>